body {
    font-family: 'Courier New', Courier, monospace;
}

div:hover {
    border: 2px solid black;
}
div:nth-child(3) {
    background-color: red;
    font-style: italic;
    color:yellow;
    
}
div:nth-child(4) {
    background-color: green;
    color: orange;
    
}
div:nth-child(5) {
    background-color: violet;
    font-size: 30px;
    font-style: italic;
    color: lime;
}
div:nth-child(6) {
    background-color:darkslateblue;
    color: cornsilk;
}
div:nth-child(7) {
    background-color:aquamarine;
    font-style: italic;
    color: black;
}

