.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 50px;
    
  }
  
  .baloon {
  position: absolute;
  z-index: 4;
  left: 220px;
  top: 100px;    
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    left: 240px;
    top: 140px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    left: 515px;
    top: 250px;
    
  }